
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* */
  padding: 5.625rem 6.25rem;
}

.contact-container p {
  text-align: center;
  padding: 1rem 6rem;
  font-size: 1.563rem;
}

.contact-container .contact_form{
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.input_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.email_from, .message_box{
  border-radius: 0.3rem;
  padding: 0.5rem 0.7rem;
  border-style: none;
  border: 0.01rem solid rgb(39, 39, 39);
}

.btn41-43 {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: rgb(255, 255, 255);
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-43 {
  border: 0.01rem solid rgb(39,39,39);
  z-index: 1;
  color: rgb(0, 0, 0);
}

.btn-43:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgb(0, 0, 0);
  transition: all 0.3s ease;
}

.btn-43:hover {
  color: rgb(255, 255, 255);
}

.btn-43:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}

@media (max-width: 990px){
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 0px;
    padding: 5.625rem 3.5rem;
  }
  .contact-container .contact_form{
    width: 49%;
  }
}

@media (max-width: 780px){
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin: 0px;
    padding: 5.625rem 3rem;
  }

  .contact-container .contact_form{
    width: 55%;
  }
  
  .contact-container p {
    text-align: center;
    padding: 1rem 2rem;
    font-size: 1.4rem;
  }
}
@media (max-width: 580px){
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 0px;
    padding: 5.625rem 0rem;
  }

  .contact-container .contact_form{
    width: 60%;
  }
  .contact-container p {
    text-align: center;
    padding: 1rem 2rem;
    font-size: 1rem;
  }
}
@media (max-width: 550px){
  .contact-container{
    gap: 2rem;
  }
  .contact-container .contact_form{
    width: 80%; 
  }
  .contact-container p {
    text-align: center;
    padding: 1rem 2rem;
    font-size: 1rem;
  }
}